# Object files
*.o
*.ko
*.obj
*.elf

# Generated bitmap images
/src/vesaterm-test.bmp

# Font downloads
/fonts/source-code-pro/*
!/fonts/source-code-pro/build.sh
!/fonts/source-code-pro/clean.sh

# Generated source code
/src/font.c

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
/src/alloy
/utils/alloy-font-generator
/src/vesaterm-test

# Debug files
*.dSYM/
*.su
